<!DOCTYPE html>
<html>

    <%- include('./partials/userFormHead') %>

<body>
    <div class="cont">
        <div class="form sign-up">
            <h2>Sign Up</h2>
            <%- include('./partials/messages') %>
            <form action="/users/register" method="POST">
                <label for="name">
                    <span>Name</span>
                    <input type="text" name="name" value="<%= typeof name != 'undefined' ? name : '' %>" />
                </label>
                <label for="email">
                    <span>Email</span>
                    <input type="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" />
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" name="password"
                        value="<%= typeof password != 'undefined' ? password : '' %>" />
                </label>
                <label for="password2">
                    <span>Confirm Password</span>
                    <input type="password" name="password2"
                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                </label>
                <button type="submit" class="BUTTON_GFG">Sign Up Now</button>
            </form>
            <p class="forgot-pass">Already have an account ? Login <a href="/users/login" type="submit"
                    class="forgot-pass">Here</a></p>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>